language: node_js
dist: trusty
sudo: required
node_js: stable
install:
  - npm install
  - spago install
  - spago build
script:
  - npm run test
after_success:
- >-
  test $TRAVIS_TAG &&
  echo $GITHUB_TOKEN | pulp login &&
  echo y | pulp publish --no-push
